{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
<p>Hi! Use one of my functions to get dynamic, read-only data!</p>
<p>Here are the implemented functions: </p>
<ul>
    <li>
        <a href="/random">Json array of random numbers</a>
    </li>
    <li>
        <a href="/password">Password generator</a>
    </li>
    <li>
        <a href="/string">Letter ordering sentences</a>
    </li>
    <li>
        <a href="/excel">Read local excel document</a>
    </li>
    <li>
        <a href="/email">Send an email with SwiftMail</a>
    </li>
    <li>
        <a href={{ path('all_users') }}>View the database of the users.</a>
    </li>

</ul>
{% endblock %}