{% extends "base.html.twig" %}

{% block body %}
    <h2>All users</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Job</th>
        </thead>
        
    </table>
{% endblock %}